@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf");
}

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/Playfair.ttf");
}

body {
  background-color: black;
}

.hero {
  background-image: url("/img/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-pf {
  font-family: "Playfair Display", system-ui;
}

::selection {
  background-color: white;
  color: black
}

.div-circle {
  clip-path: circle(50% at 50% 50%);
}